body {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}
.constainer {
    display: flex;
    flex-wrap: flex;
}

button {
    width: 75px;
    height: 75px;
    font-size: 42px;
    background-color: slategray;
    color: white;
}

.operator {
    background-color: coral;
    color: white;
}

#display {
    font-size: 42px;
    font-weight: bolder;
    border: 1px solid slategray;
    width: 310px;
    height: 75px;
    margin-bottom: 8px;
}